{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'customize_components/style.css' %}" />
<script type="text/javascript" src="{% static 'jquery/dist/jquery.min.js'%}"></script>

<br>


<div class="container">
	<div class="row">
		<div class="col text-center"> <h1 > TODO LIST</h1></div>
	</div>
	<div class="row">
		<div class="col-5"> 
			<form  id="form_add" action="{% url 'webapp:addtodo' %}" method="post">
				{% csrf_token %}
				TODO NAME : <input type="text" name="todo_name" class="todo_name" >	
				<button class="btn btn-success" onclick="form_add.submit()">Add</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col">
			{% if error_message %}<p><strong style="color:red">{{ error_message }}</strong></p>{% endif %}
		</div>
	</div>
	<div class="row">
		<div class="col">  </div>
	</div>
	<div class="row">
		<div class="col-3">
			<form  id="form_delete" action="{% url 'webapp:removetodo' %}" method="post"> 
				{% csrf_token %}
				<button class="btn btn-danger"  id="btn-clear" onclick="form_delete.submit()"> Clear Selection </button>
				<ul class="list-group todo-list">
			  	{% for todo in todo_lists %}
		        	<label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 todo-item ">
					    <input type="checkbox" name="todos" value="{{todo.id}}" class="custom-control-input" >
					    <span class="custom-control-indicator"></span>
					    <span class="custom-control-description todo-desc">{{ todo.todo_name }}</span>
					</label>
			    {% endfor %}
				</ul>
			</form>
		</div>
	</div>

</div>
<script type="text/javascript" src="{% static 'customize_components/controller.js'%}"></script>